#{extends 'main.html' /}
#{set title: 'about' /}


<div class="row resultsPadding">
    <div class="eight columns">

        <h3 class="topPadding">About ${play.configuration['application.name']}</h3>
        <p>More to come here.</p>
    </div>
    
    <div class="four columns">

        <h4 class="topPadding">Ryan Swanstrom</h4>
        <img src="http://2.gravatar.com/avatar/79da018530041d04fd59eb3dfee659e3?size=120"/>
        <p>Eventually a bio of Ryan
        
        </p>
    </div>
</div>
