#{extends 'main.html' /}
#{set title: 'about' /}


<div class="row resultsPadding">
    <div class="eight columns">

        <h3 class="topPadding">About ${play.configuration['application.name']}</h3>
        <p>This website is a front-end for the 
            <a href="https://developers.google.com/shopping-search/">Google Shopping API</a>.
        </p>
        <p>
            The code is located on <a href="https://github.com/swGooF/34andMore">Github</a>.
        </p>
        <p>The design is the base layout from
            <a href="http://foundation.zurb.com/">Zurb Foundation</a>.
        </p>
    </div>
    
    <div class="four columns">

        <h4 class="topPadding">Ryan Swanstrom</h4>
        <img src="http://2.gravatar.com/avatar/79da018530041d04fd59eb3dfee659e3?size=120"/>
        <p>
            See more at <a href="http://about.me/ryanswanstrom">Ryan Swanstrom's About.Me page</a>.
        
        </p>
    </div>
</div>
