#{extends 'main.html' /}
#{set 'title'}
#{if item.name.length() > 30}
${item.name.substring(0, 25) }
#{/if}
#{else}
${item.name}
#{/else}
#{/set}

<div class="row itemPadding">
    <div class="four columns"> 
        #{list item.images}            
        <img alt="${item.name}" src="${_.small}"/> <br />
        #{/list}
        #{else}
        &nbsp;
        #{/else}

    </div>
    <div class="eight columns">
        <h2>${item.name}</h2>
        <p>
            <div class="fb-like" data-href="${url}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" ></div>
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
        #{if item?.images}
        <img alt="${item.name}" src="${item.images[0].large}" />
        #{/if}
        <p>${item.price.formatCurrency('USD')}</p>
        <p>${item.desc}</p>

        <img src="${item.faviconUrl()}" />
        <a href="${item.url}" target="_new">${item.company}</a>

    </div>
</div>